{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="jumbotron">
        <h1>{{singleOrder.name}}, please confirm your payment</h1>
        <p>Enter todays code in the box below to confirm your payment. You will find this code at the paybox.</p>
        <p>
            {{ form_label(form.code) }}
            {{ form_errors(form.code) }}
            {{ form_widget(form.code) }}
        </p>     
        {{ form_widget(form.save) }} {{ form_widget(form.cancel) }}
    </div>

    {{ form_end(form) }}
{% endblock %}