{% extends 'base.html.twig' %}
{% block content %}
    <h3>Following Total Orders are available</h3>
    <div class="container container-fluid">

        {% for totalOrder in allOrders %}
            <div class="row">
                <div class="col-md-1">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{path('editTotal',{'totalId':totalOrder.id})}}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    {% endif%}
                    <a href="{{path('displayTotalOrder',{'totalId':totalOrder.id})}}">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>

                    </a>
                </div>
                <div class="col-md-1">
                    {{totalOrder.date|date('d.m.y')}}
                </div>
                <div class="col-md-1">
                    {%if totalOrder.active %}
                        Open
                    {% else %}
                        Closed
                    {% endif%}
                </div>
                <div class="col-md-3">
                    {{totalOrder.ammount}} €
                </div>
                <div class="col-md-9">
                    {{totalOrder.text}}
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}