{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <h3>Place your Order</h3>
    <div class="container-fluid">
        <div class="row">   
            <div class="col-md-3">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="col-md-9">
                {{ form_label(form.product) }}
                {{ form_errors(form.product) }}
                {{ form_widget(form.product) }}
            </div>
        </div>
        <div class="row">   
            <div class="col-md-12">
                {{ form_label(form.text) }}
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}
                <ul>
                    <li>Garlic +0.5€</li>
                    <li>Any Change +1€ each</li>
                </ul>
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.save) }} {{ form_widget(form.cancel) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}